body{
  margin: 0;
  padding: 0;
  /* display: grid; */
  overflow-x:hidden;
}
.fond{
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 18%; */
  background-image:url("landing_impro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7%;
}
.title-container{
  margin: 0 auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 1.6em;
  display: flex;
  align-items:center;
}
.title-container img{
  width: 3em;
  filter: invert(1);
  border-radius: 11px;
  margin-right: 0.5em;
}
.title-container a{
  vertical-align: top;
  font-size: 2.5em;
  color: white;
  text-decoration: none;  
}
.landing-titre{
  text-align: center;
}
.bottom-container{
  margin-top: auto;
}
.bottom-left{
  display: flex;
  height: 10vh;
  float: left;
  background-color: #da4141;
  color: aliceblue;
  width: 79%;
}
.bottom-right{
  height: 10vh;
  float: right;
  display: flex;
  font-weight: bold;
  font-size: 23px;
  border-top-right-radius: 92px;
  /* text-align: center; */
  width: 21%;
  background-color: white;
}
.inner-hop{
  margin: auto;
  text-decoration: none;
}
@media screen and (max-width:700px){
  .fond{
    height: 100vh;
  }
  .bottom-right{
    font-size: 16px;
    border-top-right-radius: 33px;
  }
}